<div class="text-center">
  <img [src]="StoreLogo">

  <h1>{{StoreName|uppercase}}</h1>
  <!-- ----------------------- -->
  <h3 *ngIf="Discount!=NoDiscount">We offer an explicit discount of {{Discount}}</h3>
</div>
<!-- ----------------------- -->
<Label>Category</Label>
<select class="rounded m-2">
  <option *ngFor="let item of CategoryList">{{item.Name}}</option>
</select>
<!-- ----------------- -->
<ng-template #ProductCard>
  <!--Bouns-Products in Cards-->
  <div class="card rounded m-1" *ngFor="let item of ProductList" style="width: 18rem;display:inline-block">
    <img class="card-img-top" [src]="item.Img" width="100px" height="150px" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">{{item.Name}}</h3>
      <h5 class="card-text">Price: {{item.Price}}</h5>
      <h5 class="card-text">Quantity: {{item.Quantity}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Buy</a>
    </div>
  </div>
</ng-template>

<ng-template #productsTable>
  <table class="table table-success table-striped">
    <tr>
      <th> Name </th>
      <th>Price</th>
      <th> Image </th>
      <th>Quantity</th>
    </tr>
    <!--Products From Service-->
    <tr *ngFor="let item of ProductServicList">
      <td><img [src]="item.Img" width="100px" height="100px" style="z-index: -1;" /></td>
      <td>{{item.Name}}</td>
      <td>{{item.Price}}</td>
      <td>{{item.Quantity}}</td>
    </tr>
  </table>
</ng-template>
<!--</div>
<div *ngIf="IsPurshased">-->
<ng-template #Thanks>
  <h3>Thanks for purchasing from our Store {{ClientName}}</h3>
</ng-template>
<!-- ----------------- -->
<br><br>
<input class="rounded m-2" type="text" [(ngModel)]="ClientName" /> {{ClientName}}
<br><br>
<!-- ----------------- -->
<div *ngIf="!IsPurshased;then ProductCard; else productsTable">
  <!--Bonus-->
</div>
<br><br>
<!--Day3 switch between Primitive list and service list-->
<button class="btn m-5 p-3 btn-primary" (click)="ToggleFlag()">Switch</button>
<!-- ----------------- -->
<br>
{{ StoreName | uppercase }}

<!-- ------{{Discount|percent}}----------- -->
<!--Day2 Finished-->
<!-- ----------------- -->